@import '../../_utils';

.form {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
      
    .formInput:focus {
        border-color: $green-light;
        box-shadow: 0 0 0 1px $green-light;
    }
      
    .submitButton {
        background: $black;
        color: $white;
        
        &:not(:disabled):hover {
            background-color: $green-light;
            color: $white;
        }

        &:disabled {
            border: 2px solid $black;
            opacity: 1;
            color: $black;
            background-color: $white;
        }

        &:disabled:hover {
            border: 2px solid $black;
            opacity: .8;
            color: $black;
        }
    }

    .chakra-button__spinner, .chakra-spinner {
        color: $black;
    }
}

.formMobile {
    .formInput {
        width: rem(300px);
        border: 2px solid $black;
        border-radius: rem(8px);
        padding: rem(10px);
        font-size: rem(18px);

    }
    
    button {
        margin-top: rem(20px);
        width: 80%;
        font-size: rem(18px);
    }

}

.formDesktop {
    .formInput {
        width: rem(400px);
        border: 2px solid $black;
        border-radius: rem(8px);
        padding: rem(10px);
    }
    
    button {
        margin-top: rem(30px);
        width: 60%;
    }
}

