@import '../../_utils';

.aboutPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 108px);
}

.aboutTop {
    width: 100%;
    height: 20vh;
    margin-bottom: rem(20px);
    display: flex;
    overflow: hidden;
    position: relative;
    background-image: url($about-bg);
    background-color: $green-light;
    background-size: cover;
    background-position: center;
}

.aboutSectionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    h2 {
        font-family: $mono;
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }

    .aboutText {
        max-width: rem(700px);
        padding: 0 rem(20px) rem(20px) rem(20px);
    }
}

.aboutContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12px);
}

.aboutLogo {
    font-size: rem(38px);
    margin-bottom: rem(10px);
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.madeBy {
    font-weight: 600;
}

.socialLinks {
    gap: rem(20px);
    margin: rem(20px);
    svg {
        color: $black;
        font-size: rem(34px);
    }
}

.chakra-badge {
    background-color: $green-light;
    color: $white;
    margin-left: rem(3px);
    margin-right: rem(3px);
}

.techStackDesktop {
    padding: rem(10px);
    display: flex;
    direction: wrap;
}

.techStackMobile {
    padding: rem(20px);
    direction: column;
}
