@import '../../_utils';

.avatar {
    background-color: $black;
    background-color: $green-light;
}

.errorMessage {
    color: $red;
}

.editProfilePageWrapper {
    margin-bottom: rem(20px);
}

.editProfileTop {
    width: 100%;
    height: 20vh;
    margin-bottom: rem(20px);
    display: flex;
    overflow: hidden;
    position: relative;
    background-image: url($profile-bg);
    background-color: $green-light;
    background-size: cover;
    background-position: center;
}

.buttonsWrapper {
margin-top: rem(10px);
display: flex;
justify-content: space-around;

 button {
    width: 40%;
 }
}

.profileEditSaveBtn {
    background: $black;
    color: $white;

    &:not(:disabled):hover {
        background-color: $green-light;
        color: $white;
    }

    &:disabled {
        border: 2px solid $black;
        opacity: 1;
        color: $black;
        background-color: $white;
    }

    &:disabled:hover {
        border: 2px solid $black;
        opacity: .8;
        color: $black;
    }
}

.editProfileWrapper {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: rem(900px);
    margin-top: rem(-90px);
    padding: rem(20px);
    background-color: $white;
    border-radius: rem(16px);
    box-shadow: 0px rem(4px) rem(8px) $gray-10;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $mono;

    h2 {
        font-family: $mono;
        margin-top: rem(20px);
        margin-bottom: rem(40px);
    }

    p {
        max-width: rem(700px);
        padding: rem(10px);
    }

    input {
        margin-bottom: rem(18px);
    }
}