// ************************ Colors ************************
$white: #fdfdfd;
$offWhite: #F9F9F9;
$black: #050505;
$red: #ff0000;
$green: #206741;
$green-light: rgb(134, 170, 134);
$mint: rgb(230, 242, 226);
$gray: #888888;
$gray-10: rgba(0, 0, 0, 0.1);
$transparent: rgba(255, 255, 255, 0);

// ************************ Pictures ************************
$error-bg: '/black-white.jpg';
$about-bg: '/palm.jpg';
$plant-card-bg: '/flowers-white.jpg'; 
$profile-bg: '/palm-white.jpg';
$signup-bg: '/palm-blue.jpg';
$login-bg: '/flowers.jpg';
$home-bg: '/bg-startpage.jpg';

// ************************ Fonts ************************
$mono: 'Roboto Mono', monospace;

// ************************ Functions ************************
@use 'sass:math';
@function rem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}