@import '../../_utils';

.sloganContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url($home-bg);
  background-size: cover;
  background-position: center;
}

.sloganText { 
  font-family: $mono; 
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $white; 
  font-weight: bold;
}

.attentionText {
  color: $red;
}

.mobileWrapper {
  width: 100%;

  .sloganContainer {
    height: 20vh;
    margin-bottom: rem(20px);
  }

  .sloganText {
    top: 45%;
    width: 70%;
  }
}

.desktopWrapper {
  height: 100%;

  .sloganContainer {
    height: 40vh;
  }

  .sloganText {
    top: 38%;
    width: 50%;
  }
  
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .searchWrapper {
    margin-top: rem(-90px);
    padding: rem(80px) rem(150px) rem(60px) rem(150px);
    background-color: $white;
    border-radius: rem(16px);
    box-shadow: 0px rem(4px) rem(8px) $gray-10;
  } 

  .headingWrapper {
    margin-bottom: rem(20px);
  }
  
  .icon {
    font-size: rem(40px);
  }
  
  .heading {
    font-family: $mono;
    margin-top: rem(2px);
  }
}
